/* custom css properties */ 
:root {
    --gridRow: 1;
    --gridColumns: 1;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 5px 10px;
    height: 30px;
    width: auto;
    background-color: azure;
    font-weight: bold;
}

#randomColor {
    color: black;
    animation-name: unicornMode;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes unicornMode {
    0% {
        color: red;
    }
    14% {
        color: orange
    }
    28% {
        color: yellow
    }
    42% {
        color: green
    }
    56% {
        color: blue
    }
    70% {
        color: violet
    }
    84% {
        color: black
    }
}